@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../assets/font/GoogleSans-Regular.otf') format('opentype');
}

.cbx {
    margin-top: 4px;
    position: relative;
    height: 38px;
    width: calc(100%);
    margin-bottom: 12px;
}

.cbx-show {
    height: 38px;
    background-color: #ffffff;
    display: flex;
    border-radius: 4px;
    border: 1px solid;
    border-color: #bbbbbb;
    margin-bottom: 5px;
    width: calc(100% - 2px);
    /* overflow: hiddens; */
}

.cbx-show input {
    height: calc(100% - 5px);
    flex: 1;
    min-width: 50px;
    padding-left: 10px;
    border: none;
    font-family: GoogleSans-Regular;
    margin-top: 0px !important;
}

.cbx-show input:focus-visible {
    outline: none;
}

.cbx-select {
    /* display: none; */
    height: 16px;
    width: calc(100% - 10px);
    background-color: #ffffff;
    padding: 12px 0px 12px 10px;
    color: #000000;
    padding-right: none;
}

.cbx-select i {
    font-size: 16px;
    margin-right: 10px;
    opacity: 0;
    color: #ffffff;
}

.cbx-select:hover {
    background-color: #e9ebee;
}

.cbx-hide {
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 5px 0px #222222;
    z-index: 5;
}

.cbx-show i {
    display: flex;
    align-items: center;
    font-size: 16px;
    border-left: 1px solid #bbbbbb;
    opacity: 0.5;
    padding: 0px 12px;
}

.cbx {
    user-select: none;
}

.cbx .active {
    background-color: #01B075;
    color: #ffffff;
}

.cbx-icon-active {
    transform: rotate(180deg);
}

.cbx-selector-active {
    border-color: #019160;
}

.cbx-select-focus {
    background-color: #E9EBEE;
}

.border-focus {
    border-color: #01B075;
}

.border-red-combobox {
    border-color: red;
}
.active-icon {
    opacity: 1 !important;
}
.cbx-show:focus-within {
    border-color: #019160 !important;
}
.error-combobox {
    border-color: red !important;
}