#contextmenu {
    border: none;
    border-radius: 5px;
    display: flex;
    position: absolute;
    display: none;
    transform-origin: top left;
    animation: menuOpen 0.25s;
    z-index: 99999;
}

@keyframes meuOpen {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#contextmenu-update, #contextmenu-delete {
    text-align: center;
    height: 20px;
    width: 50px;
    padding: 10px 10px;
    background-color: #BBBBBB;
    z-index: 99999;
}

#contextmenu-update:hover {
    color: #ffffff;
    background-color: #2FBE8E;
}
#contextmenu-delete:hover {
    color: #ffffff;
    background-color: #F65454;
}