.content {
    width: calc(100% - 201px);
    height: calc(100vh - 49px);
    /* background-color: #e9ebee; */
    /* position: absolute;
    top: 49px;
    left: 201px; */
    float: left;
    background-color: #ffffff;
}

.content .filter-bar .filter-left {
    padding-left: 16px;
    display: flex;
    max-height: 40px;
}

.filter-bar .filter-left .dropdown {
    margin-left: 8px;
    margin-right: 20px;
}

.content .header-content {
    padding: 16px;
    display: flex;
    align-items: center;
}

.filter-bar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
}

.filter-bar .filter-left {}

.filter-bar .filter-right {
    position: absolute;
    right: 16px;
}

.content .header-content .title {
    font-size: 20px;
    font-weight: bold;
}

.content .header-content .content-feature {
    position: absolute;
    right: 16px;
}

.m-btn {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-family: GoogleSans-Regular;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.m-btn:hover {
    background-color: #2FBE8E;
}

.m-btn .btn-text {
    margin-left: 8px;
}

.m-btn-icon {
    background-position: center;
}

.icon-add {
    width: 16px;
    height: 16px;
    background-image: url('../../assets/icon/add.png');
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../assets/font/GoogleSans-Regular.otf') format('opentype');
}

.m-second-button {
    background-color: #ffffff;
    border-radius: 4px;
    height: 40px;
    color: #000000;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    outline: none;
    border: 1px solid #bbbbbb;
}

.m-second-button:hover {
    background-color: #e9ebee;
}

.m-btn-refresh {
    background-image: url('../../assets/icon/refresh.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
}

.content .paging-bar {
    height: 56px;
    background-color: #ffffff;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}
.context-delete-employee {
    max-width: 70px;
    background-color:#bbbbbb;
    height: 100%;
    z-index: 100;
    border-radius: 4px;
    transform-origin:top left;
    height: 100%;
    padding: 6px 10px;
    border: none;
}
.context-delete-employee:hover {
    background-color: rgb(214, 69, 12);
    color: #ffffff;
}