.modal {
    /* display: none; */
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* Location of the box */
    width: 100%;
    top: 0;
    left: 0;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.form-display {
    display: block;
}

.modal .form-employee {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #888;
    width: 45%;
}

.modal .form-employee .close {
    position: absolute;
    background-position: center;
    background-image: url(../../assets/icon/x.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    opacity: 0.4;
}

.modal .form-employee .close:hover,
.modal .form-employee .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .form-employee .header-form {
    font-size: 20px;
    font-weight: bold;
    padding: 16px 0px 0px 16px;
    margin-bottom: 10px;
}

.modal .form-employee .form-main {
    display: flex;
    background-color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% -48px);
    /* margin-bottom: 24px; */
}

.form-employee .form-main .avatar {
    height: 100%;
    width: calc(30%);
    background-color: #ffffff;
    margin-right: 24px;
}

.form-main .avatar .img-avatar {
    background-image: url(../../assets/img/default-avatar.jpg);
    width: calc(100% - 2px);
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #BBBBBB;
}

.form-main .avatar .caption-avatar {
    text-align: center;
}

.form-employee .form-main .form-user {
    width: calc(70%);
}

.form-user-top {
    margin-bottom: 14px;
}

.content-form {
    font-size: 15px;
    position: relative;
    margin-bottom: 16px;
}

.content-form:after {
    content: '';
    position: absolute;
    left: 0px;
    top: calc(100% + 5px);
    width: 20%;
    border-bottom: 3px solid #01B075;
}

.form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* max-height: 70px; */
}

.form-input {
    width: calc((100% - 10px) / 2);
}

.form-input input {
    
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
    border: none;
    border: 1px solid #E5E5E5;
    height: 40px;
    border-radius: 4px;
    font-size: inherit;
    font-family: inherit;
    margin-top: 4px;
}

.form-input input:focus {
    border-color: #01B075;
}

label {
    margin-bottom: 8px;
}

.modal select {
    height: 40px;
    padding-left: 10px;
    font-size: inherit;
    font-family: inherit;
    border: none;
    border: 1px solid #E5E5E5;
    height: 40px;
    width: 100%;
    margin-top: 4px;
}

#address-identity {
    width: calc(100% + 6px);
}

#salary {
    text-align: right;
    padding-right: 53px;
}

#vnd {
    position: absolute;
    right: 16px;
    top: 33px;
}

#form-salary {
    position: relative;
}

.form-button {
    height: 56px;
    width: 100%;
    padding: 0px;
    background-color: #e9ebee;
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-button button {
    margin-right: 24px;
    margin-left: 16px;
}

.form-button .btn-close {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}

.form-button .btn-close:hover {
    background-color: #E5E5E5;
}

input.error-input {
    border: 1px solid #FF4747;
}

.modal .dropdown {
    margin-top: 4px;
    position: relative;
    width: calc(100% - 2px);
    height: 40px;
    /* border: 1px solid #bbbbbb; */
    border-radius: 4px;
}

.modal .dropdown .dropdown-show {
    width: 100%;
    padding: 0px;
    height: 38px;
    border: 1px solid #e5e5e5;
}

.modal .dropdown .dropdown-hide {
    width: 100%;
}

.modal .dropdown .dropdown-show span {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.modal .dropdown .dropdown-show i {
    display: flex;
    align-items: center;
}

.modal .dropdown-select {
    width: 100%;
    padding: 12px 0px;
}

.background-color-focus {
    background-color: #09c969;
}

