body {
    margin: 0;
    font-family: GoogleSans-Regular;
    font-size: 13px;
    /* overflow:hidden; */
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../assets/font/GoogleSans-Regular.otf') format('opentype');
}

.icon-report {
    background-image: url('../../assets/icon/report.png');
}

.icon-option {
    background-image: url('../../assets/icon/option.png');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../assets/font/GoogleSans-Bold.otf') format('opentype');
}

.icon-bell {
    background-image: url('../../assets/icon/bell.png');
}

.icon-search {
    background-position: 16px center;
    background-repeat: no-repeat;
    background-image: url('../../assets/icon/search.png');
}

.btn-firstpage {
    max-width: 40px;
    margin-top: 10px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/icon/btn-firstpage.svg');
}

.btn-lastpage {
    max-width: 40px;
    margin-top: 10px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/icon/btn-lastpage.svg');
}

.btn-next-page {
    margin-top: 10px;
    max-width: 40px;
    margin-left: 10px;
    margin-right: 20px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/icon/btn-next-page.svg');
}

.btn-prev-page {
    margin-top: 10px;
    max-width: 40px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/icon/btn-prev-page.svg');
}

@import '../common/colab.css';
@import '../common/combobox.css';
@import '../common/common.css';
@import '../common/content.css';
@import '../common/contextmenu.css';
@import '../common/dropdown.css';
@import '../common/form.css';
@import '../common/input.css';
@import '../common/popup.css';
@import '../common/toast.css';
@import '../common/toolbar.css';
@import '../common/grid.css';
@import '../common/navbar.css';
@import '../../assets/font/fontawesome-5.15.1/css/all.min.css';