.navbar {
    width: 200px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
    float: left;
}

.navbar .logo-box,
.navbar .logo-site {
    width: 100%;
    height: 48px;
    display: flex;
}

.navbar .logo-box .toggle-icon {
    background-image: url('../../assets/img/toggle.png');
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.navbar .logo-box {
    padding: 12px 0px 0px 16px;
}

.navbar .logo-box .amis-logo {
    width: 100%;
    height: 24px;
    background-image: url('../../assets/img/cukcuk-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar .logo-box,
.navbar .content {
    width: 100%;
}

.navbar .navbar-content {
    width: 100%;
}

.navbar .navbar-content .nav-item {
    display: flex;
    padding-left: 16px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
}

.navbar .navbar-content .nav-item:hover {
    background-color: #e5e5e5;
    color: #ffffff;
    cursor: pointer;
}

.navbar .navbar-content .nav-item:focus {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.navbar .navbar-content .nav-item .nav-item-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 0;
    margin-right: 8px;
}

.navbar .navbar-content .nav-item .nav-item-content {}

.nav-item-active {
    background-color: #019160 !important;
}