body {
    margin: 0;
    font-family: GoogleSans-Regular;
    font-size: 13px;
    height: 100vh;
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../assets/font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../assets/font/GoogleSans-Regular.otf') format('opentype');
}

.modal-popup {
    /* display: block; */
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    top: 0px;
    left: 0px;
    z-index: 1;
    /* Sit on top */
    /* Location of the box */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
}

.popup {
    border: 1px solid #E9EBEE;
    border-radius: 4px;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    margin:auto;
    margin-top: 20%;
    /* border: 1px solid rgE9EBEEb(212, 208, 208); */
    width: 400px;
}
.popup .popup-btn-x {
    position: absolute;
    background-position: center;
    background-image: url(../../assets/icon/x.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    opacity: 0.4;
}
.popup .popup-content {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
}
.popup .popup-title {
    font-family: GoogleSans-Bold;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    padding: 24px 0px 0px 24px;
    margin-bottom: 24px;
}
.popup-content-icon {
    display: flex;
    align-items: center;
    background-color: #E9EBEE;
    width: 30px;
    justify-content: center;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.popup-content-icon i {
    height: fit-content;
    font-size: 12px;
    color: red;
}
.popup-content-text {
    font-family: GoogleSans-Regular;
}
.popup-btn {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    margin-top: 24px;
    height: 60px;
    background-color: #E9EBEE;
    align-items: center;
    justify-content: flex-end;
}
.m-popup-btn {
    height: 40px;
    line-height: 40px;
    padding: 0px 24px;
    border: none;
    border-radius: 4px;
}
.popup-btn button+button {
    margin-left: 16px;
}
.popup-btn-close {
    background-color: #E9EBEE;
}
.popup-btn-close:hover {
    background-color: #E5E5E5;
}
.popup-btn-confirm {
    background-color: #F65454;
    color: #ffffff;
}
.popup-btn-confirm:hover {
    opacity: 0.7;
}

